.App {
  height: 100%;
  padding-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container,
.content {
  margin-top: 20px;
  text-align: center;
  background-color: antiquewhite;
  width: 90vw;
  border-radius: 25px;
  margin-left: 20px;
}

.footer {
  justify-content: flex-end;
}
